@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .post-category{
        background:rgba(28, 29, 156, 0.3);
        margin: 5px; 
        padding: 1px 5px;
        border-radius: 1rem;

    }
    .selected{
        background: rgb(156, 23, 56)
    }
    .form-input{
        border: 2px solid black;
        border-radius: 5px;
        text-align: center;
        margin: 5px;
        color: black;
        padding: 7px;
    }

    .about-page{
        background: url("./assets/dew.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
         background-size: cover;
         min-height: 350px;
    }

    .contact-form{
        border: 2px solid black;
    }

    
}